

<ul>
<p>
  <li>
    <strong><%= @todo.name %></strong>
  </li>
</p>
  <p>
  <li>
    <%= @todo.description %>
  </li>
  </p>
  <p>
  <li>
    <%= @todo.important %>
  </li>
  </p>
  <p>
  <li>
    <%= @todo.done %>
  </li>
  </p>
</ul>

<%= link_to "Back to Index Page", todos_path %> | <%= link_to "Delete TODO", todo_path(@todo), method: "delete" %>